//===========
//== #MENU ==
//===========

.c-side-menu {
  height: 100vh;
  border-right: 2px solid $yellow;
  //background-color: red;

  &__bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
}