.c-icon {
  margin-left: auto;

  &--resume {
    @include size(30px, 42px);
  }

  &--linkedin,
  &--medium {
    @include size(32px, 32px);
  }

  &--mail {
    @include size(36px, 34px);
  }

  &--wave {
    @include size(36px, 36px);

    margin-left: $global-sizing;
  }

  &--arrow {
    @include size(14px, 78px);

    margin-left: 0;
  }
}