//===========
//== #MENU ==
//===========

.c-menu {
  position: relative;
  padding: ($global-sizing / 2);
  border-right: 1px solid $yellow;
  font-family: $axis;

  &__title {
    position: relative;
    left: 15px;
    font-size: 1.4rem;
    writing-mode: tb;
  }

  &__btn,
  &__close {
    @include size(36px);
  }

  &__close {
    margin-left: auto;
  }
}

.menu-line {
  display: block;
  @include size(100%, 4px);

  background-color: $yellow;

  &:nth-of-type(2) {
    margin: ($global-sizing / 2) 0;
  }

  &--cross {
    background-color: $blue;
  }
}

.c-menu-list {
  @include size(100vw, 100%);

  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(-100%, 0, 0);
  background-color: $yellow;
  transition: ease-in-out 400ms transform;

  &.is-open {
    transform: translate3d(0, 0, 0);
  }

  &__item {
    padding: $global-sizing;
    font-size: 1.8rem;
    color: $blue;

    &--first {
      @include flex(center, null, null, null);
    }
  }

  .c-menu-inner-list {
    margin-top: auto;
    margin-bottom: ($global-sizing * 3);
  }
}
