html {
  min-height: 100%;
  box-sizing: border-box;
  font-size: $global-font-size;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  display: flex;
  height: inherit;
  font-size: inherit;
  //background-color: $blue;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
}