//=============
//== #LAYOUT ==
//=============

.o-section {
  height: 75vh;
  width: 100%;
}

.o-layout {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.4;

  &--medium {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 ($global-sizing * 1.2);
  }
}