//==============
//== #GLOBALS ==
//==============

$global-font-size: 62.5%;
$global-sizing: 10px;

//=============
//== #COLORS ==
//=============

$red: #ff686b;
$yellow: #fdeb37;
$blue: #051937;
$white: #fff;

//============
//== #FONTS ==
//============

$axis: "Axis", sans-serif;
$playfair: "Playfair Display", serif;