//============
//== #FONTS ==
//============

@font-face {
  font-family: "Axis";
  src: url("fonts/axis-extrabold.otf") format("otf");
}

@font-face {
  font-family: "Playfair Display";
  src: url("fonts/playfair-display-bold.otf") format("otf");
}