//===============
//== #HEADINGS ==
//===============

.u-main-heading {
  font-family: $axis;
  font-size: 3rem;
  color: $yellow;
  text-align: center;
  margin: 0;

  &--playfair {
    display: block;
    font-family: $playfair;
  }
}

.u-sub-title {
  @include flex(center, center, null, null);

  margin: 0;
  padding: ($global-sizing * 2) 0;
  font-size: 2.8rem;
  font-weight: 700;
  color: $blue;
}

.u-main-text {
  font-size: 1.4rem;
  font-weight: 700;
  color: inherit;
}